<!doctype html>
<html class="h-100">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <title><%= locals[:slide].order %> — <%= locals[:slide].title %></title>
    <%= stylesheet_link_tag "tachyons" %>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="flex items-center justify-center h-100">
    <%= yield %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
